<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zpi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Knowledge_Mammals_Profile"></activity>
        <activity android:name=".Knowledge_Reptiles_Profile" />
        <activity android:name=".Knowledge_Birds_Profile" />
        <activity android:name=".Knowledge_Amphibians_Profile" />
        <activity android:name=".Knowledge_inverte_profile" />
        <activity android:name=".Knowledge_Profile" />
        <activity android:name=".Know_Reptiles_Lizards" />
        <activity android:name=".Know_Reptiles_Turtles" />
        <activity android:name=".Know_Reptiles_Snakes" />
        <activity android:name=".Know_Mammals_Cats" />
        <activity android:name=".Know_Mammals_Dogs" />
        <activity android:name=".Knowledge_Invertebrates" />
        <activity android:name=".Knowledge_Amphibians" />
        <activity android:name=".Knowledge_Birds" />
        <activity android:name=".Knowledge_Reptiles" />
        <activity android:name=".Knowledge_Mammals" />
        <activity android:name=".AnimalProfile" />
        <activity android:name=".AddInvertebrates" />
        <activity android:name=".AddAmphibians" />
        <activity android:name=".AddBirds" />
        <activity android:name=".AddReptiles" />
        <activity android:name=".AddMammals" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddAnimal" />
        <activity android:name=".Vet" />
        <activity android:name=".Knowledge" />
        <activity android:name=".MyProfile" />
        <activity android:name=".Forgot" />
        <activity android:name=".Dashboard" />
        <activity android:name=".Register" />
        <activity android:name=".Login" />
    </application>

</manifest>